.App {
  text-align: center;
}

div.navbar {
  float: left;
  width: 100vw;
  height: 15vh;
  background: red;
  color: black;
  border-bottom: 33px solid white;
}

.main-content {
  margin-top: 1em;
  height: 90vh;
  background: white;
  color: brown;
}