.App {
  text-align: center;
}

div.navbar {
  float: left;
  width: 100vw;
  height: 20vh;
  background: #F0D5C9;
  color: black;
  border-bottom: 2px solid white;
}

.sidebar {
  float: left;
  width: 28%;
  height: 90vh;
  background: #FAEAC9;
  color: maroon;
  border-right: 2px solid white;
}

.main-content {
  float: left;
  width: 71.5%;
  height: 90vh;
  background: #B68976;
  color: brown;
}